<!DOCTYPE html>
<html>
<head>
	<title>RosettaClone</title>
	<link rel="stylesheet" type="text/css" href="/css/homepageCSS.css">
</head>
<body>
	{{{body}}}
	
	<script type="text/javascript" src='/js/homepagejs.js'></script>
</body>
</html>
