<!DOCTYPE html>
<html>
<head>
	<title>Noun Practice</title>
	<link rel="stylesheet" type="text/css" href="/css/nouns.css">
</head>
<body>
	{{{body}}}
	
	<script type="text/javascript" src='/js/nouns.js'></script>
</body>
</html>