<!DOCTYPE html>
<html>
<head>
	<title>Nouns Practice!</title>
	<link rel="stylesheet" type="text/css" href="nouns.css">
</head>
<body>
	<div class='navbar'>
		<ul>
			<li class="link"><a href="/">Home</a></li>
			<li class="link"><a href="history">History of the Rosetta Stone</a></li>
			<li class="link"><a href="contact-us">Contact Us</a></li>
		</ul>
	<h1>Choose the picture that matches the noun!</h1>
	<h2>The noun is: <span id='chosen'></span></h2>
	<h3></h3>
	</div>
		<div id="picture_container">
			<div class="picture"></div>
			<div class="picture"></div>
			<div class="picture"></div>
			<div class="picture"></div>
		</div>
	</div>








	<script type="text/javascript" src="nouns.js"></script>
</body>
</html>